<h2>Exercise 1. Counter and buttons</h2>
<div id="exercise1"></div>
<h2>Exercise 2. Github API</h2>
<div id="exercise2"></div>

<script src="https://fb.me/react-0.14.1.js"></script>
<script src="https://fb.me/react-dom-0.14.1.js"></script>
